inst/doc
packrat/lib*/
.Rproj.user
config.yml
.Rhistory
.Rprofile
packrat
other_R_code/*.tex
other_R_code/*.log
other_R_code/*.synctex.gz
other_R_code/cache/**
other_R_code/figure/**
other_R_code/cache/**
.RData
